<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mainapp/dliakogo.css">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <div class="head">
        <h1>Для кого</h1>
    </div>
    <div class="content">
        <div>
          <h2>Любители чтения: </h2>
          <p>Для всех, кто увлечен чтением и желает<br>
            разнообразить свою библиотеку новыми произведениями.</p>
        </div>
        <div>
          <h2>Студенты и учащиеся: </h2>
          <p>Для студентов и школьников, которым нужны<br>
                учебные материалы или хотят расширить свои знания<br>
                за пределами учебной программы.</p>
        </div>
        <div>
          <h2>Коллекционеры: </h2>
          <p>Для коллекционеров редких и антикварных книг,<br>
            которые ищут уникальные экземпляры для своих коллекций</p>
        </div>
        <div>
            <h2>Люди, желающие освободить место: </h2>
              <p>Для тех, кто хочет избавиться от ненужных или прочитанных книг,<br>
                чтобы освободить место и предоставить им новую жизнь.</p>
        </div>
        <div>
            <h2>Языковая практика: </h2>
              <p>Для людей, изучающих иностранные языки,<br>
                    чтобы найти книги на нужном языке <br>
                    и улучшить свои навыки чтения и понимания текста</p>
        </div>
        <div>
            <h2>Подарки:</h2>
              <p>Для тех, кто ищет идеальный подарок <br>
                в виде книги для друзей, семьи или коллег. </p>
        </div>
      </div>
</body>
</html>
