<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mainapp/help.css"">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <div class="head">
        <h1>Часто задаваемые вопросы</h1>
    </div>
    <div class="content">
        <div>
          <h2>Как я могу найти книги,<br> 
            которые меня заинтересуют?</h2>
          <p>На нашем сайте есть функция поиска,<br>
            которая позволяет вам искать книги по названию</p>
        </div>
        <div>
          <h2>Как работает процесс <br>
            обмена книгами на этом сайте?</h2>
          <p>Процесс обмена книгами на нашем сайте прост и удобен.<br>
            Вы создаете аккаунт, добавляете свои книги в базу данных,<br>
            выбираете интересующие вас книги других участников и <br>
            предлагаете обмен. Если другой участник соглашается на обмен,<br> 
            вы договариваетесь о встрече</p>
        </div>
        <div>
          <h2>Какую информацию я должен предоставить<br>
            при добавлении книги в базу данных?</h2>
          <p>При добавлении книги в базу данных, пожалуйста,<br>
            укажите ее название, автора и жанр.</p>
        </div>
        <div>
            <h2>Как защищены мои личные данные <br>
                при использовании сайта обмена книгами?</h2>
              <p>Мы очень серьезно относимся к защите личных данных<br>
                наших пользователей. Вся информация, которую <br>
                вы предоставляете при регистрации, хранится в безопасной<br> 
                базе данных. Мы не передаем личные данные третьим лицам <br>
                и следуем политике конфиденциальности, <br>
                чтобы защитить вашу приватность.</p>
        </div>
      </div>
</body>
</html>
