{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/commissioner-2" rel="stylesheet">
</head>
    <body>
        <div>
            <header class="header1">
                <div class="logo_div">
                    <a href="{% url 'index' %}"><img src="{% static 'images/ff.png' %}" alt="BOOKSWAP" class="logo"></a>
                </div>
                <div class="menu_header">
                    <a class="menu_header1" href="#">О нас</a>
                    <a class="menu_header1" href="#">Для кого</a>
                    <a class="menu_header1" href="#">Помощь</a>
                </div>
                <div class='reg'>
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'login' %}"><nav class="login-css">Вход</nav></a>
                    <a href="{% url 'register' %}"><nav class="register-css">Регистрация</nav></a>
                    {% else %}
                    <a href="{% url 'profile' %}"><nav class="login-css">{{user.username}}</nav></a>
                    {% endif %}
                </div>
            </header>
            <div class="menu_header">
                <div class="main1">
                <div><h1>Добро пожаловать<br>
                    на наш сайт<br> 
                    по обмену книгами!  </h1>
                    <h4>Здесь вы сможете поделиться своими любимыми книгами, <br>
                        обрести новые увлекательные истории<br>
                        и встретиться с единомышленниками,<br>
                        разделяющими вашу страсть к чтению.</h4>
                </div>
                <div class="header2">
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'register' %}"><nav class="register-css">Регистрация</nav></a>
                    {% else %}
                    <a href="{% url 'profile' %}"><nav class="register-css">{{user.username}}</nav></a>
                    {% endif %}
                    <a href="{% url 'katalog' %}"><nav class="katalog-css">Каталог</nav></a>
                </div>
               
            </div>
            <div class="menu_header"> <img src="{% static 'images/ded.jpg' %}" class="photo"></div>
        </div> 
        </div>
    </body>
</html>
