
{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/who.css' %}">
{% endblock %}

{% block content %}
    <div class="head">
        <h1>О нас</h1>
    </div>
    <div class="content">
        <div>
          <p>Добро пожаловать на BookSwap network - онлайн-платформу для обмена книгами!</p>

        </div>
        <div>
          <p>Мы создали BookSwap network с целью помочь любителям чтения находить новые увлекательные<br>
              произведения, обмениваться книгами и расширять свою личную библиотеку. Наша цель - создать<br>
              сообщество книжных энтузиастов, где каждый может найти интересные книги и обменяться ими<br>
              с другими участниками.</p>
        </div>
        <div>
          <p>Мы предлагаем простой и удобный способ обмена книгами. После регистрации на нашем сайте,<br>
             вы можете добавлять свои книги в базу данных, просматривать доступные книги других <br>
              участников и предлагать обмен. </p>
        </div>
        <div>
            <p>Присоединяйтесь к BookSwap network и откройте для себя мир бесконечных возможностей чтения <br>
                и обмена книгами!</p>
        </div>
    </div>

{% endblock %}

