<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/commissioner-2" rel="stylesheet">
</head>
    <body>
        <div>
            <header class="header1">
                <div class="logo">
                    <img src="ff.png" alt="BOOKSWAP" class="logo">
                </div>
                <div class="menu_header">
                    <a class="menu_header1">О нас</a>
                    <a class="menu_header1">Для кого</a> 
                    <a class="menu_header1">Помощь</a>
                </div>
                <div class='reg'>
                    <nav class="login-css">Вход</nav>
                    <nav class="register-css">Регистрация</nav>
                </div>
            </header>
            <div class="menu_header">
                <div class="main1">
                <div><h1>Добро пожаловать<br>
                    на наш сайт<br> 
                    по обмену книгами!  </h1>
                    <h4>Здесь вы сможете поделиться своими любимыми книгами, <br>
                        обрести новые увлекательные истории<br>
                        и встретиться с единомышленниками,<br>
                        разделяющими вашу страсть к чтению.</h4>
                </div>
                <div class="header2">
                    <nav class="register-css">Регистрация</nav>
                    <nav class="katalog-css">Каталог</nav>
                </div>
               
            </div>
            <div class="menu_header"> <img src="ded.jpg" class="photo"></div>
        </div> 
        </div>
    </body>
</html>
