{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'profile/add_books.css' %}">
{% endblock %}

{% block content %}
      <div class="testbox">
  <div class="header2">
        <div class="katalog">
          <a href="{% url 'katalog' %}"><button class="back-css">Каталог</button></a>
        </div>
        <div class="b"><h1>Добавить книгу</h1></div>
    </div>
  <form method="post">
    {% csrf_token %}
    <div class="penis">
      <a></a>
    </div>
    <div class="add_book">
        <div class="input_fields">
          <div>
            <input name="name" class="enjoy-css" placeholder="Название" />
          </div>
          <div>
            <input name="author" class="enjoy-css" placeholder="Авторы" />
          </div>
          <div>
            <input name="genre" class="enjoy-css" placeholder="Жанры" />
          </div>
          <div>
            <input name="description" class="enjoy-css" placeholder="Описание" />
          </div>
        </div>
        <div class="upload_photo">
            <div class="upload_area">
              <span>Загрузить фото</span>
              <input type="file" id="photo_input" name="avatar">
            </div>

          </div>
      </div>

    <div class="header2">
        <button class="dob1">Сохранить</button>
    </div>
  </form>

</div>
{% endblock %}