{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'profile/my_book11.css' %}">
{% endblock %}

{% block content %}
<div class="header2">
        <div class="katalog">
            <a href="{% url 'katalog' %}"><button class="back-css">Каталог</button></a>
        </div>
        <div class="b"><h1>{{ book.name }}</h1></div>
     <form method="post">{% csrf_token %}
        <div class="add"><button class="favor-css" name="add_fav" type="submit">Избранное +</button></div>
     </form>
    </div>
    <div class="penis">
      <a></a>
    </div>
    <div class="announcement-container">
        <div class="content_book">Контактные данные:<br>{{ book.user.profile.fio }}<br> {{book.user.profile.email}} <br> {{book.user.profile.number}}</div>
        <div class="content_book">
            <div class="image-container"></dib><img src="{{ MEDIA_ROOT }}/media/media/book/{{book.avatar}}"></div>
        </div>
        <div class="content_book">Автор:{{book.author}}<br>Жанр:{{book.genre}}</div>
    </div>
    {% if book.user_id != request.user.id %}
    <div class="header2">
        <a href="{% url 'ex' %}"><button class="back-css">Обмен</button></a>
    </div>
    {% else %}
    <div class="header2">
        <a href="#"><button class="back-css">Оставить отзыв</button></a>
    </div>
    {% endif %}
{% endblock %}