
{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'profile/my_book.css' %}">
{% endblock %}

{% block content %}
    <div class="header2">
        <div class="katalog">
            <a href="{% url 'katalog' %}"><button class="back-css">Каталог</button></a>
        </div>
        <div class="b"><h1>Мои книги</h1></div>
        <div class="add"><a href="{% url 'add-books' %}"><button class="favor-css">Добавить +</button></a></div>
    </div>
    <div class="penis">
      <a></a>
    </div>
        <div class="announcement-container">
            {% for i in name_books %}
            <div class="announcement">
                <img src="{{i.avatar}}">
                <h1>{{i.name}}</h1>
                </div>
            {% endfor %}
        </div>

{% endblock %}