.login-css {
    margin-right: 20px;
    margin-top: 10px;
    height: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 82px;
    max-width: 82px;
    padding: 20px;
    overflow: hidden;
    border: 1px solid;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font: normal normal bold 16px/1 "Lucida Console", Monaco, monospace;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    font-family: 'Commissioner', sans-serif;
}
.katalog-css {
    margin-top: 10px;
    height: 20px;
    margin-right: 85px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 120px;
    max-width: 120px;
    padding: 20px;
    overflow: hidden;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font: normal normal bold 16px/1 "Lucida Console", Monaco, monospace;
    color: #FCFBFB;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #6D1FEB;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    font-family: 'Commissioner', sans-serif;
  }
.register-css {
    margin-top: 10px;
    height: 20px;
    margin-right: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 120px;
    max-width: 120px;
    padding: 20px;
    overflow: hidden;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font: normal normal bold 16px/1 "Lucida Console", Monaco, monospace;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #F8E642;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    font-family: 'Commissioner', sans-serif;
  }
.header1{
    /*background-color: aliceblue;*/
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
 
}
div{
    font-family: 'Commissioner', sans-serif;
  }

.menu_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a{
    text-decoration: none;
    margin: 20px;
}
.reg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}
.menu_header1{
margin-right: 30px;
margin-top: 30px;
}
.logo_div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo{

    height: 80px;
    width: 220px;
}
.main1{
}

h1{
    font-size: 50px;
}
.review-css {
    margin-top: 40px;
    height: 50px;
    margin-right: 35px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100px;
    max-width: 82px;
    padding: 20px;
    overflow: hidden;
    border: 1px solid;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font: normal normal bold 16px/1 "Lucida Console", Monaco, monospace;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    font-family: 'Commissioner', sans-serif;
}
.photo{
    margin-left: 150px;
    border-radius: 100px;
    margin-top: 30px;
    height: 550px;
    width: 400px;
}

.header2{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: left;
     
}
.header3{
    margin-right: 200px;
}