<<<<<<< Updated upstream
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .head h1 {
    text-align: center;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Commissioner', sans-serif;
  }

  .content > div {
    flex-basis: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .content h2 {
    font-weight: bold;
  }

  .content p {
  color: #000;
    font-family: Commissioner;
    font-size: 30px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    font-family: 'Commissioner', sans-serif;
  }
body {
    font-family: 'Commissioner', sans-serif;
  }


=======
.head {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head h1 {
    text-align: center;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Commissioner', sans-serif;
  }

  .content > div {
    flex-basis: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .content h2 {
    font-weight: bold;
  }

  .content p {
  color: #000;
    font-family: Commissioner;
    font-size: 30px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    font-family: 'Commissioner', sans-serif;
  }
body {
    font-family: 'Commissioner', sans-serif;
  }
>>>>>>> Stashed changes
